LifeExpectancy(AutoAIFLow).json
[{"id":"b91c4859.6fef98","type":"tab","label":"Life_Expectancy(AutoAIFlow)","disabled":false,"info":""},{"id":"928439ff.439298","type":"function","z":"b91c4859.6fef98","name":"","func":"var a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar s = global.get(\"s\");\nvar g = global.get(\"g\");\nvar r = global.get(\"r\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\nvar token=msg.payload.access_token\nvar instance_id=\"ad44d294-4957-4903-8b10-581452e5dce6\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"country\", \"year\", \"status\", \"adult\", \"infant\",\"alcohol\", \"expHealth\", \"hepatitis\", \"measles\", \"BMI\", \"under5\", \"polio\", \"expenditure\", \"diptheria\", \"hiv\", \"gdp\", \"population\", \"thin19\", \"thin9\", \"income\", \"schooling\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":80,"wires":[["a6251fd4.ada7d"]]},{"id":"f81ad82e.52c4a8","type":"ui_form","z":"b91c4859.6fef98","name":"","label":"","group":"55c2b593.d25bac","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status (Developed - 1, Developing - 0)","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol Intake of People","value":"f","type":"number","required":true,"rows":null},{"label":"Expenditure on Healthcare (Percentage)","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness (1-19 years)","value":"r","type":"number","required":true,"rows":null},{"label":"Thinness (5-9 years)","value":"s","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"Predict","cancel":"Reset","topic":"","x":60,"y":260,"wires":[["d1280377.9c87a"]]},{"id":"d1280377.9c87a","type":"function","z":"b91c4859.6fef98","name":"","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\nvar apikey=\"7TyfrLANfsYjjkznRfBXf4iQmrCg_Sp4QcM4wxcQXAX6\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":220,"wires":[["49276bef.5ad2f4"]]},{"id":"6f5eca8d.68ac24","type":"debug","z":"b91c4859.6fef98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":340,"wires":[]},{"id":"49276bef.5ad2f4","type":"http request","z":"b91c4859.6fef98","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":220,"wires":[["928439ff.439298"]]},{"id":"52bb447.9ee05bc","type":"inject","z":"b91c4859.6fef98","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":180,"wires":[["d1280377.9c87a"]]},{"id":"a6251fd4.ada7d","type":"http request","z":"b91c4859.6fef98","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/d8a86fe8-234c-4016-8b5e-5173383d5f46/predictions","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":200,"wires":[["4ee55c21.90cf14"]]},{"id":"f8afb6b7.49e958","type":"ui_text","z":"b91c4859.6fef98","group":"55c2b593.d25bac","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":300,"wires":[]},{"id":"4ee55c21.90cf14","type":"function","z":"b91c4859.6fef98","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":180,"wires":[["f8afb6b7.49e958","6f5eca8d.68ac24"]]},{"id":"55c2b593.d25bac","type":"ui_group","z":"","name":"Prediction","tab":"47c61d22.3b6774","order":1,"disp":true,"width":"6","collapse":false},{"id":"47c61d22.3b6774","type":"ui_tab","z":"","name":"LifeExpectancyML","icon":"dashboard","disabled":false,"hidden":false}]