Life_Expectancy(Flow).json
[{"id":"aab1a2a9.7dd41","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"29677f62.04b0b","type":"debug","z":"aab1a2a9.7dd41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":120,"wires":[]},{"id":"2125b746.c53118","type":"function","z":"aab1a2a9.7dd41","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\n\n\n//following are required to receive a token\nvar apikey=\"ZgMUvtjMkO1gBZD-EGen3ubhkYpsg82zpptxsvry6mC-\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":120,"wires":[["f76d845f.f03cb8"]]},{"id":"7d75deea.f0afe","type":"inject","z":"aab1a2a9.7dd41","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["2125b746.c53118"]]},{"id":"f76d845f.f03cb8","type":"http request","z":"aab1a2a9.7dd41","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":200,"wires":[["9645bb89.f1a4f8"]]},{"id":"9645bb89.f1a4f8","type":"function","z":"aab1a2a9.7dd41","name":"","func":"var a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar s = global.get(\"s\");\nvar g = global.get(\"g\");\nvar r = global.get(\"r\");\nvar token=msg.payload.access_token;\nvar instance_id=\"319c10ad-eb3a-4ab3-adca-17258ea53684\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\nmsg.payload = {\n    \"fields\":[\"Adult Mortality\",\"Alcohol\",\"BMI\",\"Diphtheria\",\"GDP\",\"HIV/AIDS\",\n    \"Hepatitis B\", \"Income composition of resources\", \"Measles \", \"Polio\",\n    \"Population\", \"Schooling\", \"Status\", \"Total expenditure\",\n    \"infant deaths\", \"percentage expenditure\", \"thinness  1-19 years\", \"thinness 5-9 years\",\n    \"under-five deaths \"],\n    \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["a93b4190.7d62a"]]},{"id":"a93b4190.7d62a","type":"http request","z":"aab1a2a9.7dd41","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/319c10ad-eb3a-4ab3-adca-17258ea53684/deployments/9780afb5-7067-4eba-bc9a-ef70f2f7ab95/online","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":100,"wires":[["a5839536.555dd8","29677f62.04b0b"]]},{"id":"a5839536.555dd8","type":"function","z":"aab1a2a9.7dd41","name":"Prediction","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":360,"wires":[["a686a0e.970946","b80f5e30.11de6"]]},{"id":"a686a0e.970946","type":"ui_text","z":"aab1a2a9.7dd41","group":"f085a5ca.57da38","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":460,"wires":[]},{"id":"b80f5e30.11de6","type":"debug","z":"aab1a2a9.7dd41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":300,"wires":[]},{"id":"a5ebe3f3.d15cf","type":"ui_form","z":"aab1a2a9.7dd41","name":"","label":"","group":"f085a5ca.57da38","order":2,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"Alcohol ","value":"b","type":"number","required":true,"rows":null},{"label":"BMI","value":"c","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"d","type":"number","required":true,"rows":null},{"label":"GDP","value":"e","type":"number","required":true,"rows":null},{"label":"HIV/AIDs","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"h","type":"number","required":true,"rows":null},{"label":"Measels","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Population","value":"k","type":"number","required":true,"rows":null},{"label":"Schooling","value":"l","type":"number","required":false,"rows":null},{"label":"Status","value":"m","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"n","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"o","type":"number","required":true,"rows":null},{"label":"Percentage expenditure","value":"p","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Under five Deaths","value":"s","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":""},"payload":"","submit":"Predict","cancel":"Reset","topic":"","x":90,"y":60,"wires":[["2125b746.c53118"]]},{"id":"f085a5ca.57da38","type":"ui_group","z":"","name":"Prediction","tab":"9e1911d2.3e3b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"9e1911d2.3e3b4","type":"ui_tab","z":"","name":"Life Expectancy","icon":"dashboard","disabled":false,"hidden":false}]